<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color: white">Employee Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
        aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <button (click)="openModal(null, 'add')" type="button" class="btn btn-dark"
                            data-toggle="modal" data-target="#addEmployee">
                            Add Employee
                        </button>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input type="search" (ngModelChange)="searchEmployees(key.value)" #key="ngModel" ngModel name="key"
                id="searchName" class="form-control mr-sm-2" placeholder="Search employees..." required />
        </form>
    </div>
</nav>
<div class="container" id="main-container">
    <div class="row">
        <div *ngFor="let employee of employees" class="col-md-6 col-xl-4">
            <div class="card">
                <div class="card-body row" style="background-color: 343A40;">
                    <div class="col-6">
                        <a><img src="{{ employee?.imageUrl }}" alt="" class="img-fluid rounded-circle w-60 float-right" /></a>
                    </div>
                    <div class="col-6 card-title align-self-center mb-0">
                        <h3>{{ employee?.name }}</h3>
                        <p class="m-0">{{ employee?.jobTitle }}</p>
                    </div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="fa-solid fa-inbox float-right" ></span>{{employee.email}}
                    </li>
                    <li class="list-group-item">
                        <span class="fa-solid fa-phone float-right" id="phoneNumber"></span>Phone : {{employee.phoneNumber}}
                    </li>
                    <li class="list-group-item">
                        <span class="fa-solid fa-user float-right"></span>{{employee.gender}}
                    </li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <button (click)="openModal(employee, 'edit')" (click)="setGender(employee.gender)" type="button" class="btn btn-primary"
                            data-toggle="modal" data-target="#editEmployee">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </button>
                        <button (click)="openModal(employee, 'delete')" type="button" class="btn btn-danger"
                            data-toggle="modal" data-target="#deleteEmployee">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--EDIT MODAL BOX-->
    <div *ngIf="editModalBox" class="modal fade" id="editEmployee" tabindex="-1" role="dialog"
        aria-labelledby="editEmployeeLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editEmployeeLabel">
                        Edit Employee: {{ editEmployee.name }}
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form #editForm="ngForm">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" ngModel="{{ editEmployee?.name }}" name="name" class="form-control"
                                id="name" aria-describedby="emailHelp" placeholder="Name" />
                        </div>
                        <input type="hidden" ngModel="{{ editEmployee?.id }}" name="id" class="form-control" id="id"
                            placeholder="Email" />
                        <input type="hidden" ngModel="{{ editEmployee?.employeeCode }}" name="employeeCode"
                            class="form-control" id="userCode" placeholder="Email" />
                        <div class="form-group">
                            <label for="email">Email Address</label>
                            <input type="email" ngModel="{{ editEmployee?.email }}" name="email" class="form-control"
                                id="email" placeholder="Email" />
                        </div>
                        <div class="form-group">
                            <label for="phone">Job title</label>
                            <input type="text" ngModel="{{ editEmployee?.jobTitle }}" name="jobTitle"
                                class="form-control" id="jobTitle" placeholder="Job title" />
                        </div>
                        <div class="form-group">
                            <label for="phoneNumber">Phone</label>
                            <input type="tel" ngModel="{{ editEmployee?.phoneNumber }}" name="phoneNumber"
                                class="form-control" id="phoneNumber" placeholder="Phone" />
                        </div>
                        <div class="form-group">
                            <label for="phone">Image URL</label>
                            <input type="text" ngModel="{{ editEmployee?.imageUrl }}" name="imageUrl"
                                class="form-control" id="imageUrl" placeholder="Image URL" />
                        </div>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" ngModel name="{{editEmployee.gender}}" id="gender" value="Male">
                                <label class="form-check-label" for="gender">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" ngModel name="{{editEmployee.gender}}" id="gender2" value="Female">
                                <label class="form-check-label" for="gender">Female</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" ngModel name="{{editEmployee.gender}}" id="gender3" value="Others">
                                <label class="form-check-label" for="gender">Others</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" ngModel name="{{editEmployee.gender}}" id="gender4" value="Prefer Not To Say">
                                <label class="form-check-label" for="gender">Prefer Not To Say</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">
                                Close
                            </button>
                            <button (click)="onUpdateEmployee(editForm.value)" data-dismiss="modal"
                                class="btn btn-primary">
                                Save changes
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--DELETE MODAL BOX-->
    <div *ngIf="deleteModalBox" class="modal fade" id="deleteEmployee" tabindex="-1" role="dialog"
        aria-labelledby="deleteEmployeeLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteEmployeeLabel">Delete Employee</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Are you sure you want to delete employee {{ deleteEmployee?.name }}?
                    </p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            No
                        </button>
                        <button (click)="onDeleteEmployee(deleteEmployee.id)" class="btn btn-danger"
                            data-dismiss="modal">
                            Yes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Employee Modal -->
    <div *ngIf="addModalBox" class="modal fade" id="addEmployee" tabindex="-1" role="dialog" aria-labelledby="addEmployeeLabel"
        data-toggle="modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addEmployeeLabel">Add Employee</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form #addForm="ngForm" (ngSubmit)="onAddEmployee(addForm)">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Name"
                                required />
                        </div>
                        <div class="form-group">
                            <label for="email">Email Address</label>
                            <input type="email" ngModel name="email" class="form-control" id="email" placeholder="Email"
                                required />
                        </div>
                        <div class="form-group">
                            <label for="phone">Job title</label>
                            <input type="text" ngModel name="jobTitle" class="form-control" id="jobTile"
                                placeholder="Job title" required />
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone</label>
                            <input maxlength="10" type="text" ngModel name="phoneNumber" class="form-control" id="phoneNumber" placeholder="Phone"
                                required />
                        </div>
                        <div class="form-group">
                            <label for="phone">Image URL</label>
                            <input type="text" ngModel name="imageUrl" class="form-control" id="imageUrl"
                                placeholder="Image URL" required />
                        </div>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" ngModel name="gender" id="inlineRadio1" value="Male">
                                <label class="form-check-label" for="inlineRadio1">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" ngModel name="gender" id="inlineRadio2" value="Female">
                                <label class="form-check-label" for="inlineRadio2">Female</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" ngModel name="gender" id="inlineRadio3" value="Others">
                                <label class="form-check-label" for="inlineRadio3">Others</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" ngModel name="gender" id="inlineRadio4" value="Prefer Not To Say">
                                <label class="form-check-label" for="inlineRadio4">Prefer Not To Say</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal">
                                Cancel
                            </button>
                            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">
                                Save changes
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Notification for no employees -->
    <div *ngIf="employees?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">NO EMPLOYEES!</h4>
            <p>No Employees were found.</p>
        </div>
    </div>
</div>