a {
  cursor: pointer;
}

.navbar {
  margin-bottom: 30px;
}

#collapseNavbar {
  vertical-align: middle;
}

.card {
  border: none;
  font-size: medium;
  font-weight: 100;
  background-color: #403440;
  margin-bottom: 30px;
}

.w-60 {
  width: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 10px;
  font-weight: 600;
}
a {
  color: #707070;
}
a {
  color: white;
}



